@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.AppCajaDeRitmos *{
  text-align: center;
  font-family: "Josefin Sans", "Roboto", "verdana", "Sans-Serif";
}

.AppCajaDeRitmos .border-section{
    color: #618ec2;
    background: #e5e5e5;
    border: 2px solid #ddd;
    padding: 0px 1vh;
    border-radius: 5px;
    margin: 1vh !important;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
}
  
.AppCajaDeRitmos .container-controls #btn-retro{
    padding: 2px 7px;
    box-shadow: 0px 5px 5px rgba(0,0,0,.4);
}
  
.AppCajaDeRitmos .container-controls .MuiButton-root .btn-uppercase{
    text-transform: uppercase;
}
  
.AppCajaDeRitmos .container-controls .MuiButton-root, 
.AppCajaDeRitmos .container-controls #btn-retro{
    margin-bottom: 5px;
    background: #343a40dd;
    color: #ebf2fa;
    text-transform: lowercase;
}
  
.AppCajaDeRitmos .container-controls .MuiButton-root:hover{
    background: #343a40ff;
}

.retro #drum-machine *{
    font-family: "Press Start 2P";
    color: #00ff00;
  }
  .retro #drum-machine .MuiButton-root{
    font-size: .8em;
  }
  .retro #drum-machine .select{
    background: grey;
  }
  .retro #drum-machine {
    font-size: .8em;
    background: #343a40dd !important;
  }
  .retro #drum-machine h1, .retro #drum-machine h3{
    color: #343a40dd; 
  }
  .retro #drum-machine input[type='range'],
  .retro #drum-machine input[type='range']::-webkit-slider-runnable-track,
  .retro #drum-machine input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  .retro #drum-machine input[type='range']{
    margin-bottom: 9px; 
    cursor: pointer;
  }
  .retro #drum-machine input[type='range']::-webkit-slider-thumb{
    background-color: #00ff00;
    width: 20px;
    height: 20px;
    border: 3px solid #343a40dd;
    margin-top: -4px;
  }
  .retro #drum-machine input[type='range']::-webkit-slider-runnable-track{
    width: 80%;
    height: 10px;
    background: #343a40dd;
  }
  .retro #drum-machine,
  .retro #drum-machine .drum-pad,
  .retro #drum-machine .key,
  .retro #drum-machine .display,
  .retro #drum-machine .border-section,
  .retro #drum-machine .container-controls #btn-retro,
  .retro #drum-machine .MuiButton-root{
    border-radius: 0px !important;
    transition: all ease .2s;
  }
  .animation-retro-start{
    animation: anim-retro 1s;
  }
  .animation-retro-finish{
    animation: anim-retro 3.5s;
  }
  
  @keyframes anim-retro{
    0%{
      transform: scale(1);
      filter: brightness(20%);
    }
    50%{
      transform: scale(8);
    }
    100%{
      transform: scale(1);
    }
  }
  